<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} My Website {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <!-- Script to pass dynamic URLs -->
    <script type="text/javascript">
      const loginUrl = "{{ url_for('login') }}";
      const registerUrl = "{{ url_for('register') }}";
      const dashboardUrl = "{{ url_for('dashboard') }}";
    </script>
  </head>

  <body>
    <section
      class="min-h-screen bg-gradient-to-br from-gray-900 via-green-900 to-emerald-900 flex items-center justify-center relative overflow-hidden"
    >
      <div class="container py-5 h-full">
        <div class="row flex justify-center items-center h-100">
          <div class="grid-cols-12 md:grids-cols-8 lg:grid-cols-6 grid-cols-4">
            <div class="bg-dark text-white" style="border-radius: 1rem">
              <div class="p-5 text-center">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
  </body>
</html>
